body {
	width: 800px;
	height: 3100px;
	background-color: yellow;
	margin: 35px 50px 35px
	
}


header {
	height: 590px;
	padding-top: 70px;
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
margin-top: 70px;
font-weight: bold;


}
nav ul li {

	display: inline;
	padding-right: 35px; /*to make menu display with margin between burrons*/
}

nav ul {

	text-align: center;
}

.button-header {

width: 235px;
height: 50px;
background-color: #50c3af;
padding: 20px;
border-radius: 40px; /*to make button round*/


}

header a {

	text-decoration: none;
	color: white;

}

.inform {
border-top: 2px solid;
height:;
width: ;



}